{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Chats</title>
    <link rel="stylesheet" href="{% static 'chat/css/style.css' %}">
    <script src="{% static 'chat/js/script.js' %}"></script>
    
</head>
<body>
    <header class="header">
            <div class="header-left">
                <div class="logo">
                    <h1>{{user.tenant.nome}}</h1>
                </div>
            </div>
            <div class="header-right">
                <div class="user-info">
                    {% if user.foto %}
                        <img src="{{ user.foto.url }}" alt="{{ user.username }}" class="user-avatar-small">
                    {% else %}
                        <div class="user-avatar-small default-avatar">{{ user.username|first|upper }}</div>
                    {% endif %}
                    <span>{{ user.username }}</span>
                </div>
            </div>
    </header>
    <div class="container-1">
        <div class="chat-menu">
            <h1>Chat</h1>
            <input type="text" placeholder="Pesquisar..." class="chat-barra" id="chatSearch">
            <button class="add-btn">Novo Chat</button>
            <hr>
        </div>
        <div class="chat-list">
            {% if chats %}
            {% for chat in chats %}
            <a class="clique" href="{% url 'chat_detail' chat.id %}">
                <div class="chat-block">
                    {% if chat.user2.foto %}
                        <img src="{{ chat.user2.foto.url }}" alt="{{ chat.user2.username }}">
                    {% else %}
                        <div class="default-avatar">{{ chat.user2.username|first|upper }}</div>
                    {% endif %}

                    <div class="chat-info">
                        <div class="chat-info-header">
                            {% if chat.user1 == request.user %}
                                <strong>{{ chat.user2.username }}</strong>
                            {% else %}
                                <strong>{{ chat.user1.username }}</strong>
                            {% endif %}
                            {% if chat.messages.last %}
                                <span class="chat-time">{{ chat.messages.last.criado_em|date:"H:i" }}</span>
                            {% endif %}
                        </div>
                        {% if chat.messages.last %}
                            <span class="chat-preview">{{ chat.messages.last.conteudo|truncatechars:30 }}</span>
                        {% else %}
                            <span class="chat-preview">Sem mensagens</span>
                        {% endif %}
                    </div>
                </div>
            </a>
            {% endfor %}
        {% else %}
            <p>Você não tem chats ainda.</p>
        {% endif %}
        </div>
    </div>
</body>
</html>
