{% extends 'staff/staff_home.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/staff_tenant.css' %}" />
{% endblock %}

{% block content %}  <!-- AINDA TEM QUE AJEITAR O DESIGN COM A TELA PASSADA -->

<div class="tenant-wrapper">
  <div class="tenant-header">
    <h1>Configurações do {{ tenant.nome }}</h1>
    <p>Gerencie as informações gerais e a identidade visual do seu tenant.</p>
  </div>

  <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar</button>
    </form>
</div>
{% endblock content %}
