{% extends 'staff/staff_home.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/staff_tenant.css' %}" />
{% endblock %}
{% block content %}
{% for tenant in tenants %}

<div class="tenant-wrapper">
  <div class="tenant-header">
    <h1>Configurações do {{ tenant.nome }}</h1>
    <p>Gerencie as informações gerais e a identidade visual do seu tenant.</p>
    <a href="{% url 'tenant_staff_form' tenant.pk %}">Editar</a>
  </div>

  <div class="tenant-sections">

    <!-- INFORMAÇÕES GERAIS -->
    <div class="tenant-card">
      <div class="tenant-card-header">
        <h2>Informações Gerais</h2>
        <p>Edite o nome e o domínio do seu tenant.</p>
      </div>
      <div class="tenant-card-body">
        <div class="form-group">
          <label for="tenant-name">Nome do Tenant</label>
          <!-- <input type="text" id="tenant-name" /> -->
          <p id="tenant-name">{{ tenant.nome }}</p>
        </div>
        <div class="form-group">
          <label for="tenant-domain">Domínio do Tenant</label>
            <!-- <input type="text" id="tenant-domain" /> -->
            <p id="tenant-domain">{{ tenant.dominio }}</p>
        </div>
      </div>
    </div>

    <!-- LOGOTIPO -->
    <div class="tenant-card">
      <div class="tenant-card-header">
        <h2>Logotipo do Tenant</h2>
        <p>Faça o upload do logotipo da sua organização.</p>
      </div>
      <div class="tenant-card-body">
        <div class="logo-upload-section">
          <div class="logo-preview">
            <img src="{{ tenant.logo_url.url }}" alt="{{ tenant.nome }}" class="logo-tenant">
          </div>
          <!-- <div class="logo-upload-actions">
            <button type="button" class="btn-dark">Carregar Logotipo</button>
            <p>PNG, JPG, SVG</p>
          </div> -->
        </div>
      </div>
    </div>

    <!-- ESQUEMA DE CORES -->
    <div class="tenant-card">
      <div class="tenant-card-header">
        <h2>Esquema de Cores</h2>
        <p>Escolha a cor principal para a interface do seu tenant.</p>
      </div>
      <div class="tenant-card-body">
        <div class="color-settings">
          <div class="color-input">
            <p>Cor Primária</p>
            <div id="colorPrimary" style="background-color: {{ tenant.paleta_de_cores }};"></div> 
          </div>
          <!-- <div class="color-preview">
            <p>Pré-visualização - Puramente apenas para ver não funcionar isso</p>
            <div class="preview-boxes">
              <div style="background-color: #13a4ec;"></div>
              <div style="background-color: #13a4ec; opacity: 0.75;"></div>
              <div style="background-color: #13a4ec; opacity: 0.5;"></div>
            </div>
          </div> -->
        </div>
      </div>
    </div>

  </div>

</div>

{% endfor %}
{% endblock content %}
