{% extends 'staff/staff_home.html' %} 
{% load static %} 
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/staff_gamification.css' %}" />
{% endblock %} 
{% block content %}
<div class="container-all">
  <main class="main-content">
    <div>
      <div class="cabecalho">
        <div class="title-page">
          <h1>Gestão de Gamificação</h1>
          <p>Administre tarefas, pontos e o ranking de usuários.</p>
        </div>
      <div class="btn-container"
          data-url-task="{% url 'task_create' %}"
          data-url-user-task="{% url 'user_task_create' %}"
          data-url-conquistas="{% url 'conquista_create' %}">
          <a href="{% url 'task_create' %}" class="btn-form">
              <i class="fa-solid fa-plus"></i>
              Nova Tarefa
          </a>
      </div>
      </div> 
      <div class="tabs">
        <div class="tab active" data-tab="tarefas">Tarefas</div>
        <div class="tab" data-tab="conquistas">Conquistas</div>
        <div class="tab" data-tab="tarefas_user">Atribuição</div>
        <div class="tab" data-tab="pontos">Pontos</div>
      </div>

      <!-- INICIO DAS TASKS -->
      <section id="tarefas" class="tab-content active"> 
        <div class="table-wrap">
          <table class="tasks-table" aria-label="Lista de tasks do sistema">
            <thead>
              <tr>
                <th>Título</th>
                <th>Descrição</th>
                <th>Pontos</th>
                <th>Criado por</th>
                <th>Criada em</th>
              </tr>
            </thead>
            <tbody>
              {% for task in tasks %}
              <tr>
                <td>{{ task.titulo }}</td>
                <td>{{ task.descricao|truncatechars:80 }}</td>
                <td>{{ task.pontos }}</td>
                <td>{{ task.criado_por.username }}</td>
                <td>{{ task.criado_em |date:"d/m/Y" }}</td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="5" class="empty">Nenhuma Task cadastrada.</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
      <!-- FIM DAS TASKS -->
      <!-- INICIO DAS CONQUISTAS -->
      <section id="conquistas" class="tab-content"> 
        <div class="table-wrap">
          <table class="tasks-table" aria-label="Lista de tasks do sistema">
            <thead>
                <tr>
                    <th>Conquista</th>
                    <th>Foto</th>
                    <th>Descrição</th>
                    <th>Data</th>
                </tr>
            </thead>

            <tbody>
                {% for c in conquistas %}
                <tr>
                    <td>{{ c.nome }}</td>
                    <td><img src="{{ c.imagem.url }}" alt="{{ c.nome }}"
                      style="display: block; margin: 0 auto; max-width: 60px; height: 50px; ">
                    </td>
                    <td>{{ c.descricao }}</td>
                    <td>{{ c.criado_em |date:"d/m/Y" }}</td>
                </tr>    
                {% empty %}
                <tr>
                    <td colspan="4">Você ainda não possui conquistas.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
      </section>
      <!-- FIM DAS CONQUISTAS -->
      <!-- ATRIBUIÇÃO DE USERS -->
      <section id="tarefas_user" class="tab-content">
        <div class="table-wrap">
          <table class="tasks-table" aria-label="Lista de Conquistas">
              <thead>
                  <tr>
                      <th>Conquista</th>
                      <th>Foto</th>
                      <th>Descrição</th>
                      <th>Data</th>
                  </tr>
              </thead>

              <tbody>
                  {% for c in conquistas %}
                  <tr>
                      <td>{{ c.conquista.nome }}</td>
                      <td><img src="{{ c.conquista.imagem.url }}" alt="{{ c.conquista.nome }}"></td>
                      <td>{{ c.conquista.descricao }}</td>
                      <td>{{ c.recebido_em }}</td>
                  </tr>
                  {% empty %}
                  <tr>
                      <td colspan="4">Você ainda não possui conquistas.</td>
                  </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
      </section>
      <!-- FIM TASKS_USER -->
      <!-- PONTOS DOS USUARIOS -->
      <section id="pontos" class="tab-content">
        <div class="table-wrap">
          <table class="tasks-table" claaria-label="Tabela de pontos de usuários">
            <thead>
              <tr>
                <th>Usuário</th>
                <th>Pontos</th>
                <th>Nível</th>
                <th>Última atualização</th>
                <th>Tenant</th>
              </tr>
            </thead>
            <tbody>
              {% for p in points %}
              <tr>
                <td>
                  <div>{{ p.user.username }}</div>
                  <div>ID: {{ p.user.id }}</div>
                </td>
                <td>{{ p.pontos }}</td>
                <td>{{ p.nivel }}</td>
                <td>{{ p.ultima_atualizacao }}</td>
                <td>{{ p.tenant }}</td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="5" class="empty">
                  Nenhum registro de pontos encontrado.
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
      <!-- FIM DOS PONTOS -->
    </div>
  </main>
</div>
<script src="{% static 'js/gamification.js' %}"></script>
{% endblock content %}
